<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>빙고링고</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.bingoringo.app</string>
	<key>CFBundleName</key>
	<string>BingoRingo</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Paperlogy-1Thin.ttf</string>
		<string>Paperlogy-2ExtraLight.ttf</string>
		<string>Paperlogy-3Light.ttf</string>
		<string>Paperlogy-4Regular.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Paperlogy-8ExtraBold.ttf</string>
		<string>Paperlogy-9Black.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.445274570572-mb1qostpiid3vvehtadeo3n83pvuk0dj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>445274570572-mb1qostpiid3vvehtadeo3n83pvuk0dj.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
